.Greet{
    display: flex;
    font-size: 2rem;
}
.Icons span svg{
    font-size: 2.5rem;
}
.Icons span{
    margin-right: 7px;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}
.User{
    margin-left: 3px;
    font-size: 2rem !important;
}