.Compile{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #EDBDBD;
}
.MainComponent{
    display: flex;
    box-shadow: none !important;
    margin: 10px 10px 10px 0px;
    width:100% !important;
}