.Course{
    border: #50505054 solid 7px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    margin: 10px 0px;
}
.CourseTitle h2{
    font-size: 1.7rem;
}
.Modules div{
    font-size: 1.3rem;
}